
body{
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : 14px;
    background-color: #f7f7f2;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: white;
}

.button[type="submit"]{
	background-color: blue;
	color: blue;
}

/*Registration*/

/*feedback*/

#cont-shop{
  text-decoration: none;
  background-color: #017CA7;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  padding: 15px;
}

.cont-shop{
  margin-top: 1rem;
}

#cont-shop:hover{
  background-color:#2B60DE;
}

.title{
  margin-left: 30%
}

.star{
    display: inline-block;
    text-align: center;
}

.rate{
  margin-block: 1rem;
  background-color: #034b43;
  border-radius: 10px;
  width: 450px;
  min-height: auto;
}

.rate h1{
  color:white;
}

.feedback-form{
  display: flex;
  justify-content: center;
}

.star label{
    margin: 10px;
    font-size: 40px;
    color: #1D9286;
    transition: all .2s ease;
    float: right;  
} 

.ranking-star{
    display: none;
}

.star :not(:checked) ~ label:hover,
.star :not(:checked) ~ label:hover ~ label
{
    color: #ffc227;
    font-size: 43px;
}

.star input:checked ~ label{
    color: #ffc227;
}

#rate-5:checked ~ label{
    color: #ffc227;
    text-shadow: 0 0 20px #ffff00;
}

#rate-1:checked ~ header::before{
    content:"😤😤😤😤😤";
}

#rate-2:checked ~ header::before{
    content:"😒😒😒😒😒";
}

#rate-3:checked ~ header::before{
    content:"😀😀😀😀😀";
}

#rate-4:checked ~ header::before{
    content:"😘😘😘😘😘";
}

#rate-5:checked ~ header::before{
    content:"😍😍😍😍😍";
}

.customer-feedback{
    height: 150px;
    border-radius: 5px;
    padding: 5px;
    background-color: #1D9286;
    margin-block: 1rem;
    text-align: left;
    cursor:text;
    overflow: hidden;
}

.form{
    width: 100%;
    margin: auto;
    display: none;
    position: relative;
    margin-top: 3rem;

}

.star input:checked ~ .form{
  display: block;
}

#feedback-content{
    resize: none;
    background-color: #1D9286;
    outline: none;
    border: 1px solid #1D9286;
    color: white;
    font-size: 1rem;
    padding: 5px;
    height: 100%;
    width: 100%;
}

#feedback-content::placeholder{
    color: white;
}

.subject{
	position: absolute;
	margin-top: -3rem;
	width: 100%;
	border-radius: 10px;
	padding-left: 10px;
	font-size: 1rem;
}

.btn{
    width: 100%;
    margin-block: 1rem;
}

.wrapper{
  display: none;
}

.wrapper.text{
  color: white;
  font-size: 25px;
}

.btn button{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: #1D9286;
    color: white;
    background-color: #1D9286;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all .2s ease;
}

.btn button:hover{
    background: #034b43;
    font-size: 1.2rem;
}
/*feedback*/
/*Review*/
.review{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}


.review-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}


.review-content span{
  color: red;
  font-weight: bold;
}
/*Review*/
/*forgetpassword*/
.forgetPassword a{
  text-decoration: none;
}

.email-input{
  width: 350px;
}

.email-btn{
  width: 100px;
}

.pass-reset a{
  text-decoration: none;
  background-color: #2B60DE;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  width:100px;
}

.pass-reset p{
  font-size: 1rem;
}

.pass-reset span{
  color: red;
  font-weight: bold;
}

.pass-reset a:hover{
  background-color:#017CA7;
}


.pass-reset-btn a{
  padding: 9px;
}

#wrong-answer{
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.question-btn{
  width: 100px;
}

.wrong-btn{
  width: 100px;
}

/*forgetpassword*/
/*update*/
#update{
  font-size: 1rem;
  text-transform: uppercase;
}

.update-btn{
  width: 100px;
}

#update a{
  text-decoration: none;
}

/* --------------------- FOOTER ----------------------------- */

.footer {
	padding: 50px 0;
	background-color: #696969;
  }
  
.footer-col {
	width: 25%;
	padding: 0 15px;
  }
  
.footer-col h4 {
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	color: white;
  }
  
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	background-color: white;
	width: 50px;
  }
  
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
  }
  
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
  }
  
.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 10px;
  }
  
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #b7b9bb;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
  }
  
.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
  }
  
.copyright {
	color: #bbbbbb;
  }
  
.row_1 {
	display: flex;
	flex-wrap: wrap;
  }

/* --------------------- RESPONSIVE ----------------------------- */
  @media only screen and (max-width: 767px) {
	/*-----------------FOOTER----------------------*/
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	  }

    .review-content div{
      width: 150px;
    }

    .title h2{
      width: 300px;
    }
    .review-content div{
      width: 220px;
    }


  }

  @media only screen and (max-width: 400px) {
	 /*-----------------FOOTER----------------------*/
	 .footer-col {
		width: 50%;
		margin-bottom: 30px;
	  }

  }